/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0F172A;
    color:#F8FAFC;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 10%;

}

.logo{

    font-size:1.7rem;

    font-weight:700;

    cursor:pointer;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;

}

.nav-links a{

    text-decoration:none;

    color:white;

    transition:.3s;

    font-weight:500;

}

.nav-links a:hover{

    color:#3B82F6;

}